.section-inner {
  background-size: cover;
  background-position: center center;
}
.acm-testimonials {
  text-align: center;
}
.acm-testimonials .carousel-inner .item {
  padding: 0 96px;
}
@media screen and (max-width: 991px) {
  .acm-testimonials .carousel-inner .item {
    padding: 0 24px;
  }
}
.acm-testimonials .fa {
  color: #333333;
  font-size: 36px;
  margin-bottom: 24px;
}
.acm-testimonials .testimonial-text {
  color: #333333;
  font-size: 27px;
  margin-bottom: 0;
  min-height: 120px;
  line-height: 1.715;
}
@media screen and (max-width: 767px) {
  .acm-testimonials .testimonial-text {
    min-height: 0;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .acm-testimonials .testimonial-text {
    font-size: 18px;
    min-height: 140px;
  }
}
.acm-testimonials .author-info {
  color: #999999;
  margin-top: 24px;
}
.acm-testimonials .carousel-control {
  background: none;
  width: auto;
  bottom: auto;
  top: 50%;
  margin-top: -16px;
  text-shadow: none;
}
.acm-testimonials .carousel-control .fa {
  margin-bottom: 0;
  border: 2px solid #333333;
  color: #333333;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  display: block;
  font-size: 14px;
}
.ie8 .acm-testimonials.style-6 div.carousel .carousel-inner .item {
  display: none;
}
.ie8 .acm-testimonials.style-6 div.carousel .carousel-inner .item.active {
  display: block;
}
.acm-testimonials.style-1 .item {
  margin: 0 auto;
  text-align: center;
}
.acm-testimonials.style-1 .item .fa {
  margin: 0 0 0 12px;
}
.acm-testimonials.style-1 .item .testimonial-text {
  font-size: 27px;
}
@media screen and (max-width: 767px) {
  .acm-testimonials.style-1 .item .testimonial-text {
    font-size: 18px;
  }
}
.acm-testimonials.style-1 .item .author-info .author-image {
  border-radius: 50%;
  display: inline-block;
  height: 64px;
  margin-bottom: 12px;
  overflow: hidden;
  width: 64px;
}
.acm-testimonials.style-1 .item .author-info .author-image img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
.acm-testimonials.style-1 .item .author-info .author-info-text {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.acm-testimonials.style-1 .item .author-info .author-info-text span.author-name {
  font-weight: 700;
}
.acm-testimonials.style-1 .item .author-image {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.acm-testimonials.style-1 .item .author-image img {
  max-width: 100%;
}
.acm-testimonials.style-1 .carousel-indicators {
  bottom: auto;
  margin-top: 48px;
  margin-bottom: 0;
  position: relative;
  z-index: 0;
}
.acm-testimonials.style-1 .carousel-indicators li {
  background: #999999;
  margin: 0 5px;
  height: 12px;
  width: 12px;
  border: 1px solid #f3f8fa;
}
.acm-testimonials.style-1 .carousel-indicators li.active {
  background: #f48b24;
}

.acm-testimonials.style-2 .item {
  margin: 0 auto;
  text-align: right;
  background: #ffffff;
  padding: 24px;
}
.acm-testimonials.style-2 .item .fa {
  margin: 0 0 0 12px;
}
.acm-testimonials.style-2 .item .testimonial-text {
  font-size: 14px;
  min-height: 0;
  margin-bottom: 12px;
}
.acm-testimonials.style-2 .item .author-image {
  float: right;
  margin-right: -24px;
  margin-top: -24px;
  margin-bottom: -24px;
  margin-left: 30px;
  width: 170px;
  height: 170px;
}
.acm-testimonials.style-2 .item .author-image img {
  width: 100%;
}
.acm-testimonials.style-2 .item .author-info .author-info-text {
  letter-spacing: 1px;
}
.acm-testimonials.style-2 .item .author-info .author-info-text span.author-name {
  font-weight: 700;
}
.acm-testimonials.style-2 .testimonial-content {
  padding: 0 60px;
}
.acm-testimonials.style-2 .carousel-control {
  right: 0;
  left: auto;
  top: 0;
  margin-top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.acm-testimonials.style-2 .carousel-control.right {
  margin-top: 42px;
}
.acm-testimonials.style-2 .carousel-control .fa {
  border-radius: 0;
  background: #f48b24;
  color: #ffffff;
  border: 0;
  line-height: 32px;
}
.acm-testimonials.style-2 .carousel-indicators {
  bottom: auto;
  margin-top: 48px;
  margin-bottom: 0;
  position: relative;
  z-index: 0;
}
.acm-testimonials.style-2 .carousel-indicators li {
  background: #999999;
  border-color: #999999;
  margin: 0 5px;
}
.acm-testimonials.style-2 .carousel-indicators li.active {
  background: #f48b24;
  border-color: #f48b24;
}