.acm-teams .team-items:before,
.acm-teams .team-items:after {
  content: " ";
  display: table;
}
.acm-teams .team-items:after {
  clear: both;
}
.acm-teams .team-items .item {
  float: right;
}
@media screen and (max-width: 767px) {
  .acm-teams .team-items .item {
    width: 100% !important;
  }
}
.acm-teams .team-items .item .img-intro {
  position: relative;
  overflow: hidden;
}
.acm-teams .team-items .item .img-intro p {
  bottom: 0;
  background-color: rgba(33, 91, 166, 0.7);
  color: #ffffff;
  font-size: 18px;
  right: 0;
  margin-bottom: 0;
  position: absolute;
  padding: 24px;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -webkit-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms;
}
@media screen and (max-width: 1199px) {
  .acm-teams .team-items .item .img-intro p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .acm-teams .team-items .item .img-intro p {
    display: none;
  }
}
.acm-teams .team-items .item:hover .img-intro p {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.acm-teams .team-items img {
  height: auto;
  width: 100%;
}
.acm-teams .team-items .info {
  color: #ffffff;
  padding: 24px 0;
  text-align: center;
}
.acm-teams .team-items .info h4 {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 4px;
}
@media screen and (min-width: 480px) {
  .acm-teams .team-items .info h4 {
    font-size: 14px;
  }
}
.acm-teams .team-items .info p {
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 0;
}
.acm-teams .style-1 {
  overflow: hidden;
}
.acm-teams .style-1 .item {
  margin-bottom: 48px;
  text-align: center;
}
.acm-teams .style-1 .item .member-image {
  border: 5px solid #eeeeee;
  margin-bottom: 24px;
  overflow: hidden;
}
.acm-teams .style-1 .item .member-image img {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.acm-teams .style-1 .item h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.acm-teams .style-1 .item .member-title {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.acm-teams .style-1 .item .member-desc {
  text-align: center;
}
.acm-teams .style-1 .item:hover .member-image img {
  transform: scale(1.1);
}
.acm-teams .style-1 .item:hover h4 {
  color: #72af1a;
}
.ie8 .team-items .item .img-intro p {
  display: none;
}
.ie8 .team-items .item:hover .img-intro p {
  display: block;
}
.ie8 .team-items .item:hover .img-intro p:after {
  background: #72af1a;
  content: "";
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.acm-teams .style-2 {
  overflow: hidden;
}
.acm-teams .style-2 .item {
  margin-bottom: 48px;
  text-align: center;
}
.acm-teams .style-2 .item .member-image {
  margin-bottom: 24px;
  overflow: hidden;
}
.acm-teams .style-2 .item .member-image img {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.acm-teams .style-2 .item h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.acm-teams .style-2 .item .member-title {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
.acm-teams .style-2 .item .member-desc {
  text-align: center;
}
.acm-teams .style-2 .item .member-phone {
  color: #999999;
}
.acm-teams .style-2 .item .member-phone .fa {
  color: #72af1a;
  margin-left: 7.5px;
}
.acm-teams .style-2 .item .member-email {
  color: #999999;
}
.acm-teams .style-2 .item .member-email .fa {
  color: #72af1a;
  margin-left: 7.5px;
}
.acm-teams .style-2 .item .member-link {
  margin-top: 24px;
}
.acm-teams .style-2 .item .member-link .fa {
  margin-left: 7.5px;
}
.acm-teams .style-2 .item:hover .member-image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.acm-teams .style-2 .item:hover h4 {
  color: #72af1a;
}
.ie8 .team-items .item .img-intro p {
  display: none;
}
.ie8 .team-items .item:hover .img-intro p {
  display: block;
}
.ie8 .team-items .item:hover .img-intro p:after {
  background: #72af1a;
  content: "";
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
}